# This is yaml format config file
general:
    work_dir: './output_oxf5k_provided_16M_sift_provided_bow_1M'

    # Oxford 5k dataset provided 1M words, and BoW.
    bow_dict_save_path: "output_oxf5k_provided_16M_sift_provided_bow_1M/bow_dict.pkl"
    vocab_size: 1000000

    image_dir: "./data/oxford/oxford5k/images"
    image_descriptor_dict_path: "output_oxf5k_provided_16M_sift_provided_bow_1M/image_descriptor_dict.pkl"

mhic_config:
    num_processes: 10

    # For datamining purpose, we want to get less simlar but the same scene.
    # So we are interested in similiarity in [THRESHOLD_DATAMINING_SIMILARITY_MIN, THRESHOLD_DATAMINING_SIMILARITY_MAX]
    # See Large-Scale Discovery of Spatially Related Images. Sec 3.2 for THRESHOLD_DATAMINING_SIMILARITY_MIN
    # See Scaleable Near Identical Image and Shot Detection. Sec 4.3 for THRESHOLD_DATAMINING_SIMILARITY_MAX

    THRESHOLD_DATAMINING_SIMILARITY_MIN: 0.045
    THRESHOLD_DATAMINING_SIMILARITY_MAX: 0.35

    output_similar_pair_result: 'similar_pair.pkl'
    output_ransac_result: 'similar_pair_ransac.pkl'


    ransac_match_method: "BRUTE_FORCE" # "BRUTE_FORCE" or "FLANN"
    ransac_min_samples: 3
    ransac_residual_threshold: 5
    ransac_max_trials: 1000

    threshold_min_inlier: 50
