# This is yaml format config file
general:
    work_dir: './output_provided_1M_words_oxford5k'

    # Oxford 5k dataset provided 1M words, and BoW.
    bow_dict_save_path: "oxf5k_provided/bow_dict_hesaff_sift_from_16M_features_1M_words.pkl"
    vocab_size: 1000000

    # bow_dict_save_path: 'bow_dict_word_oxc1_hesaff_sift_16M_100k_handmade.pkl'
    # vocab_size: 2**17

    # bow_dict_save_path: 'bow_dict_word_oxc1_hesaff_sift_16M_1M_4_sub_handmade.pkl'
    # vocab_size: 2**17

    # bow_dict_save_path: 'bow_dict_word_oxc1_hesaff_sift_16M_1M_8_sub_handmade.pkl'
    # vocab_size: 2**17


    image_dir: "./data/oxford/oxford5k/images"
    image_descriptor_dict_path: 'image_descriptor_dict_oxc1_hesaff_sift_16M.pkl'

mhic_config:
    num_processes: 10

    # For datamining purpose, we want to get less simlar but the same scene.
    # So we are interested in similiarity in [THRESHOLD_DATAMINING_SIMILARITY_MIN, THRESHOLD_DATAMINING_SIMILARITY_MAX]
    # See Large-Scale Discovery of Spatially Related Images. Sec 3.2 for THRESHOLD_DATAMINING_SIMILARITY_MIN
    # See Scaleable Near Identical Image and Shot Detection. Sec 4.3 for THRESHOLD_DATAMINING_SIMILARITY_MAX

    THRESHOLD_DATAMINING_SIMILARITY_MIN: 0.045
    THRESHOLD_DATAMINING_SIMILARITY_MAX: 0.35

    output_similar_pair_result: 'similar_pair.pkl'
    output_ransac_result: 'similar_pair_ransac.pkl'
    
    threshold_min_inlier: 50
