# This is yaml format config file
general:
    # image should be downloaded seprately
    image_dir: "./data/oxford/oxford5k/images"

    # In this configuration, we use already provided sift descriptors. Don't need to parse and load features from dir.
    # # feature must be extracted as preprocess.
    # image_descriptor_dir: "oxford5k_hesaff_sift"

    # all result created during this task will be saved into this dir.
    work_dir: './output_oxf5k_extracted_13M_rootsift_1M_vocab_pqkmeans_1M_codebook_train'

    vocab_size: 1000000

    image_descriptor_dict_path: 'image_descriptor_dict_oxc5k_extracted_hesaff_sift_13M.pkl'

visual_word_gen_config:
    subsample_percent: 100 # 0~100% use for making visual words from whoel features.

    clustering_lib: "pqkmeans" # "flann", "pqkmeans"

    # Ignore flann_* configuration when you don't use flann library
    flann_args: "null"
    flann_iter: 10

    # Ignore pqkmeans_* configuration when you don't use pqkmeans library
    pqkmeans_encoder_save_name: "pqencoder.pkl"
    pqkmeans_encoder_type: "pq" # currently only "pq", and "ipq" is supported. In near future "opq" will be supported.
    pqkmeans_encoder_pq_M: 8 # M. number of subspaces
    pqkmeans_encoder_pq_Ks: 256 # bits for each subspace.
    pqkmeans_codebook_train_size: 1000000 # number of features used for training PQ codebook. pick by random

    pqkmeans_features_in_pqcode_save_name: "pqcodes.npy"
    pqkmeans_centroids_in_pqcode_save_name: "centroids_in_pqcodes.npy"
