# This is yaml format config file
general:
    # image should be downloaded seprately
    image_dir: "./data/oxford/oxford5k/images"
   
    # In this configuration, we use already provided sift descriptors. Don't need to parse and load features from dir.  
    # # feature must be extracted as preprocess. 
    # image_descriptor_dir: "oxford5k_hesaff_sift"

    # all result created during this task will be saved into this dir.
    work_dir: './output_oxford5k_with_provided_sift_vw_2_17'

    # Oxford 5k dataset provided 1M words, and BoW.
    vocab_size: 131072 # 2^17 

    image_descriptor_dict_path: 'image_descriptor_dict_oxc1_hesaff_sift_16M.pkl'

visual_word_gen_config:
    subsample_percent: 100 # 0~100% use for making visual words from whoel features. 

    clustering_lib: "flann" # "flann", "pqkmeans"

    flann_args: "null"
    flann_iter: 10
    
    pqkmeans_encoder_type: "pq" # currently only "pq", and "ipq" is supported. In near future "opq" will be supported. 
    pqkmeans_encoder_pq_M: 8 # M. number of subspaces
    pqkmenas_encoder_pq_Ks: 256 # bits for each subspace. 
    pqkmeans_codebook_train_size: 1000000 # number of features used for training PQ codebook. 
